/* Importa a fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset CSS do margin e padding */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: blueviolet;
    padding: 1%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
}

footer {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    
}

.texto_justificado {
    text-align: justify;
    text-indent: 5%;
}

article {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    /*justify-content: center;*/
}
