/* Importa a fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset CSS do margin e padding */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: coral;
}

header {
    background-color: blueviolet;
}

nav a {
    text-decoration: none;
    margin: 1%;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: green;
    border-radius: 5px;
}

footer {
    background-color: chocolate;
    color: white;
}

.texto_justificado {
    text-align: justify;
    text-indent: 5%;
}