/*
https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/
*/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    flex: 0 1 calc(25% - 1em);
}