/*
https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/
*/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}